/*navbar css*/

.navbar-inverse .navbar-brand {
	color: #cc101d;
	font-family: Calligraffitti;
}

.navbar-inverse .navbar-nav  > li > a {
	color: white;
	font-family: Georgia;
	font-size: large;
}

.navbar-inverse .navbar-nav  > li > a:hover {
	color: #cc101d;
	background-color: transparent;
}

.navbar-inverse .dropdown-menu>li>a:hover {
	color: #cc101d;
}

/*carousel css*/
.myCarousel > a {
	border-radius: 0;
	color: black;
}

.carousel-control:hover {
	color: #cc101d;
}

h1 {
	font-family: Calligraffitti;
	color:  #cc101d;
}

.btn-danger {
	color: black;
	border-radius: 0;
	box-shadow: 6px 6px 6px #050505;
}

.carousel-indicators .active {
	background-color: whitesmoke;
}

/*Whole body*/

body.classy {
	background-image: url("images/antique.jpg");
}


/*clothes css*/

.scrolling {
	text-align: center;
}

.img-responsive {
	border: 10px double black;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.59);
}

h4 {
	color: #cc101d;
	font-family: "Calligraffitti";
}

.prices > p {
	color:#cc101d;
}

/*music css*/

.homemusic {
	padding-top: 30px;
}

/*dylan's css*/

.bg-city {
	background-image: url("images/warsaw-1017468_1920.jpg");
	color:aliceblue;
}

h2 {
	text-align: center;
	font-family: Calligraffitti;
	color:  #cc101d;
}

.p-t-8 {
	padding-top: 80px;
}

.p-t-16 {
	padding-top: 160px;
}

.artsound {
	padding-top: 20px;
}

/*footer css*/

.footer {
	margin-top: 40px;
	padding-top: 20px;
	background-color: rgba(211, 211, 211, 0.68);
	font-family: Georgia;
	text-align: center;
}

.text-muted > p {
	color:  #cc101d;
}

/*contact form*/

div#well.container {
	padding-top:100px;
	background-color: transparent;
}

label {
	color:#cc101d;
	font-family:Futura;
}

.btn-custom {
	background-color: white;
	color: black;
	border-radius: 0;
	box-shadow: 6px 6px 6px #050505;
}

.btn-custom:hover {
	color:forestgreen;
}