/*navbar css*/

.navbar-inverse .navbar-brand {
	color: #cc101d;
	font-family: Calligraffitti;
}

.navbar-inverse .navbar-nav  > li > a {
	color: white;
	font-family: Georgia;
	font-size: large;
}

.navbar-inverse .navbar-nav  > li > a:hover {
	color: #cc101d;
	background-color: transparent;
}

.navbar-inverse .dropdown-menu>li>a:hover {
	color: #cc101d;
}

/*carousel css*/

.first-slide  {
height: 700px;
width: 900px;
position: relative;
left: 275px;
box-shadow: 10px 10px 10px #aaa;
}

.second-slide {
height: 700px;
width: 900px;
position: relative;
left: 275px;
box-shadow: 10px 10px 10px #aaa;
}

.third-slide {
height: 700px;
width: 900px;
position: relative;
left: 275px;
box-shadow: 10px 10px 10px #aaa;
}

.forth-slide {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

.myCarousel > a {
	border-radius: 0;
	color: black;
}

.carousel-control:focus,
.carousel-control:hover {
	color: black
}

h1 {
	font-family: Calligraffitti;
	color:  #cc101d;
}

.btn-danger {
	color: black;
	border-radius: 0;
	box-shadow: 6px 6px 6px #050505;
}

.carousel-indicators .active {
	background-color: #050505;
}

/*clothes css*/

.scrolling {
	text-align: center;
}

.img-responsive {
	border: 10px double black;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.59);
}

h4 {
	color: #cc101d;
	font-family: "Calligraffitti";
}

/*music css*/

.yd {
	background-image: url("warsaw-1017468_1920.jpg");
}

h2 {
	text-align: center;
	font-family: Calligraffitti;
	color:  #cc101d;
}

/*dylan's css*/
.p-t-8 {
	padding-top: 80px;
}

.p-t-16 {
	padding-top: 160px;
}

.artsound {
	padding-top: 20px;
}

