.navbar-inverse .navbar-brand {
	color: #cc101d;
	font-family: Kingthings Calligraphica;
}

.navbar-inverse .navbar-nav  > li > a {
	color: white;
}


.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: black;
}

.navbar-inverse .navbar-nav:hover,
.navbar-inverse .navbar-nav:focus {
	color: #cc101d;
	background-color: transparent;
}


.first-slide  {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

.second-slide {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

.third-slide {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

.myCarousel > a {
	border-radius: 0;
	color: black;
}
