.navbar-inverse .navbar-brand {
	color: #621f80;
}











.first-slide  {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

.second-slide {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

.third-slide {
	height: 700px;
	width: 900px;
	position: relative;
	left: 275px;
	box-shadow: 10px 10px 10px #aaa;
}

